<div class="container col-2">
    <div class="row">
        <form action="">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="avatar">Avatar Url</label>
                <input type="text" id="avatar" class="form-control">
            </div>
        
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>