<div class="container">
    <div class="row">
        <form action="">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" (input)="onChange($event, 'name')" [value]="newUser.name"/>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" class="form-control" (input)="onChange($event, 'age')" [value]="newUser.age">
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" class="form-control" (input)="onChange($event, 'phone')" [value]="newUser.phone">
            </div>

            <div class="form-group">
                <label for="avatar">Avatar Url</label>
                <input type="text" id="avatar" class="form-control" (input)="onChange($event, 'avatar')" [value]="newUser.avatar">
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" [disabled]="!onValidate(newUser)" (click)="onSubmit()">Submit</button>
            </div>
        </form>

    </div>
    <div class="row mt-5">
        <input type="text" class="form-control" placeholder="Key word ..." (input)="onSearch($event)">
    </div>
    <div class="row">
        <table class="table table-striped mt-5">
            <thead class="md-5">
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>Action</th>
            </thead>
            <tbody>

                <tr *ngFor="let item of filterUser">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.phone}}</td>
                    <td>
                        <img height="100" src="{{item.avatar}}" alt="">
                    </td>
                    <td><button (click)="confirmRemove(item.id)" class="btn btn-danger">Delete</button></td>
                    <td><button (click)="onEdit(item)" class="btn btn-success">Edit</button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>